{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/pepew2.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<nav>
			<ul class="nabar">
				<li id="home"><a href="{% url 'index' %}" ><img src="https://image.ibb.co/gD2R7K/sticky_note_PNG18887.png" alt="sticky_note_PNG18887" border="0" class="postit" id="kuning">Home</a></li>
				<li id="edu"><a href="{% url 'exp' %}" ><img src="https://image.ibb.co/gsOcEz/0f613df3b068c62c8ab2ef9cc8a4c352_blue_post_it_note_by_vexels.png" alt="0f613df3b068c62c8ab2ef9cc8a4c352_blue_post_it_note_by_vexels" border="0" class="postit" id="biru">Experience</a></li>
				<li id="expe"><a href="{% url 'skill' %}" ><img src="https://image.ibb.co/ntQ7Ez/pink_sticky_note_png.png" alt="pink_sticky_note_png" border="0" class="postit" id="pink">Skills</a></li>
				<li id="skill"><a href="{% url 'reg' %}" ><img src="https://image.ibb.co/eGcXge/purple_clipart_sticky_note_9.png" alt="purple_clipart_sticky_note_9" border="0" class="postit" id="ungu">Registration</a></li>
			</ul>
		</nav>
	</body>
</html>