{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/pepew1.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<body>
		{% block navbar %}
		{% include "navbar.html" %}
		{% endblock %}		<p class="title">Experience</p>
		<div>
			<p class="staff">Staff of Human Resources at Compfest</p>
			<a href="compfest.web.id" class="logo"><img src="https://image.ibb.co/hooHzz/compfest.jpg" alt="compfest" border="0"></a>
			<p class="deskripsi">CompFest merupakan acara TI tahunan yang diselenggarakan oleh mahasiswa Fakultas Ilmu Komputer (Fasilkom) Universitas Indonesia. CompFest hadir dengan berbagai lomba berskala nasional yang berkolaborasi dengan perusahaan TI besar di Indonesia. Selain dihadiri oleh ribuan pengunjung, puluhan perusahaan rintisan dan komunitas TI juga turut meramaikan acara puncak CompFest. Setiap rangkaian acara yang disajikan dapat dinikmati secara gratis oleh masyarakat umum. CompFest pertama kali diselenggarakan pada tahun 2009.</p>
		</div>
		<div>
			<p class="senbud">Staff of Art and Culture BEM Fasilkom UI</p>
			<a href="https://imgbb.com/" class="bem"><img src="https://image.ibb.co/eCBy6e/logo_bem.png" alt="logo_bem" border="0"></a>
			<p class="desbem">Badan eksekutif mahasiswa (disingkat BEM) atau Himpunan Mahasiswa Universitas adalah organisasi mahasiswa intra kampus yang merupakan lembaga eksekutif di tingkat pendidikan tinggi. Dalam melaksanakan program-programnya, umumnya BEM memiliki beberapa departemen. Berbeda dengan himpunan mahasiswa di setiap jurusan, cakupan atau ruang lingkup Badan Eksekutif Mahasiswa bisa lebih luas mencakup satu fakultas atau satu perguruan tinggi. Dalam hal ini Badan Eksekutif Mahasiswa mengadaptasi eksekutif dalam pemerintahan yang bertanggung jawab untuk menerapkan hukum atau kebijakan lainnya yang berlaku pada suatu fakultas atau pun pada suatu perguruan tinggi.
			</p>
		</div>
	</body>
</html>