body{
	background-image : url({% static "wallpaper2you_424789.jpg" %});
	background-size: 100%;
}
nav{
	font-family: 'Arvo', serif;
	font-weight: bold;
	font-size: 1.2em;
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    position:fixed;
    right:0;
}
nav ul li{
	display: block;
	padding-bottom: 60%;
}
li a{
	text-decoration: none;
	color: black;
}
li a:link {
	color: black;
}
li a:visited {
	color:black;
}
li a:hover {
	color: #5d6d87;
}
.navbar{
	z-index: 1;
	position: absolute;
	left:92%;
	top:20%;
}
.postit {
	z-index: -10;
	position: fixed;
	height: 40%;
	top: 10%;
	left: 92%;
	transform: rotate(70deg);
}
.title{
	position: absolute;
	top:-2px;
	left:40%;
	font-family: 'Arvo', serif;
	font-size: 4em;
	font-weight: bold;
	color: #4e4b50;
}
.staff{
	position: absolute;
	top:21%;
	left:24%;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	color: #4e4b50;
}
.logo{
	position: absolute;
	top:40%;
	left:44%;
}
.deskripsi{
	position: absolute;
	top:70%;
	left:1%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	color: #4e4b50;
	font-weight: bold;
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
}
.senbud{
	position: absolute;
	top:92%;
	left:23%;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	color: #4e4b50;
}
.bem{
	position: absolute;
	top:100%;
	left:36%;
}
.desbem{
	position: absolute;
	top:150%;
	left:1%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	color: #4e4b50;
	font-weight: bold;
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
}
#biru {
	top: 22%;
}
#pink{
	top:270px;
}
#ungu{
	top:360px;
	left:93%;
}