body{
	background-image : url({% static "wallpaper2you_424789.jpg" %});
	background-size: 100%;
}
nav{
	font-family: 'Arvo', serif;
	font-weight: bold;
	font-size: 1.2em;
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    position:fixed;
    right:0;
}
nav ul li{
	display: block;
	padding-bottom: 60%;
}
li a{
	text-decoration: none;
	color: black;
}
li a:link {
	color: black;
}
li a:visited {
	color:black;
}
li a:hover {
	color: #5d6d87;
}
.nabar{
	z-index: 1;
	position: absolute;
	left:92%;
	top:20%;
}
.postit {
	z-index: -10;
	position: fixed;
	height: 40%;
	top: 10%;
	left: 92%;
	transform: rotate(70deg);
}
.title{
	position: absolute;
	top:-2px;
	left:70%;
	font-family: 'Arvo', serif;
	font-size: 4em;
	font-weight: bold;
	color: #4e4b50;
}
.python{
	position: absolute;
	height:15%;
	top:40%;
	left:30%;
}
#logo{
	position: absolute;
	height:15%;
	top:14%;
	left:23%;
}
#biru {
	top: 22%;
}
#pink{
	top:270px;
}
#ungu{
	top:360px;
	left:93%;
}
