{%load staticfiles%}
body{
	background-image : url({% static "wallpaper2you_424789.jpg" %});
	background-size: 100%;
	background-attachment: fixed;
}
nav{
	font-family: 'Arvo', serif;
	font-weight: bold;
	font-size: 1.2vw;
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
	display: block;
	padding-bottom: 75%;
}
li a{
	text-decoration: none;
	color: black;
}
li a:link {
	color: black;
}
li a:visited {
	color:black;
}
li a:hover {
	color: #5d6d87;
}
.navbar{
	z-index: 1;
	position: absolute;
	left:92%;
	top:20%;
}
.hello {
	font-size:5.5vw;
	position: absolute;
	font-family: 'Arvo', serif;
	top: 7%;
	left: 17%;
	color: #4e4b50;
}
.name{
	font-size:2vw;
	position: absolute;
	font-family: 'Arvo', serif;
	top: 27.2%;
	left: 23%;
	color: #4e4b50;
}
.student{
	font-size:1.25vw;
	position: absolute;
	font-family: 'Arvo', serif;
	top: 34%;
	left: 28%;
	color: #4e4b50;
}
.postit {
	z-index: -10;
	position: fixed;
	height: 40%;
	top: 10%;
	left: 92%;
	transform: rotate(70deg);
}
#biru {
	top: 22%;
}
#pink{
	top: 38%;
}
#ungu{
	top: 52%;
	left:93%;
}
.profile{
	border-radius: 50%;
	position: absolute;
	height:40%;
	top:41%;
	left:40%;
}
#insta{
	position:absolute;
	height:10%;
	top:82.1%;
	left:41.5%;
}
#linked{
	position:absolute;
	height:14.5%;
	top:80%;
	left:45.5%;
}
#gmail{
	position:absolute;
	height:14.5%;
	top:80%;
	left:50.8%;
}

