{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css\pepew.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
	</head>
	<body>
		{% block navbar %}
		{% include "navbar.html" %}
		{% endblock %}
		<p class="hello">Hello,</p>
		<p class="name">my name is Devin Winardi</p>
		<p class="student">a student in Universitas Indonesia, majoring in Computer Science.</p>
		<div class="contact">
			<img src="https://thumbs2.imgbox.com/65/de/1arCuHNN_t.jpg" alt="Profile photo" class="profile"/>
			<a href="https://www.instagram.com/devin_winardi/"><img src="https://preview.ibb.co/bsGfZz/instagram.png" alt="instagram" border="0" id="insta"></a>
			<a href="https://www.linkedin.com/in/devin-winardi-2297a4165/"><img src="https://image.ibb.co/hgUv1e/linked.png" alt="linked" border="0" id="linked"></a>
			<a href="https://ibb.co/bvX4Be"><img src="https://preview.ibb.co/gLbWre/2000px_Gmail_Icon_svg.png" alt="2000px_Gmail_Icon_svg" border="0" id="gmail"></a>
		</div>

	</body>
</html>